*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
.clearfix:before, .clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
}
.clearfix {
overflow: hidden;
    zoom:1; /* Хак для IE 6 и 7 */
}
.wrapper {
    width: 1170px;
    margin: 0 auto;
}
body{
  margin: 0px;
  padding: 0px;
}
@bg_color: #29166e;
@color_1: #e67817;
@bg_color1: #ffffff;
@color_2: #000000;
@color_3: #87d0fe;
.bg1{
  background: @bg_color;
    .wrapper{
    .top{
      margin-top: 11px;
    .logo{
      float: left;
        img{
          margin: 4px;
        &.tv{
          background: @color_1;
      }
    }
    } 
    .logo_center{
      float: left;
      margin-left: 113px;
         p{
          float: left;
          margin: 7px;
          color: @bg_color1;
          a{
            color: @bg_color1;
            &.info{
              color: @color_3;
            }
            
          }
        }

      }
    .logo_right{
      float: right;
      margin:5px 11px;
       li{
        float: left;
        list-style-type: none;
        margin-left: 10px;
        border-right: 1px solid @bg_color1;
        &:last-child {
          border-right: none;
        };
          a{
            color:@color_1;
             &.reg{
              color: @bg_color1;
              padding: 0px 10px;
            }
          }
        

      }
    }
}
}
}
.bg2{
  background: @bg_color1;
    .wrapper{
      .logot{
        float: left;
      }
      .header{
        margin-top: 16px;
      }
      .menu_center{
        float: left;
        width: 626px;
        margin: 0px 32px 0px 45px;
        li{
          float: left;
          list-style-type: none;
          margin-top: 23px;
          font-size: 12px;
          border-right: 1px solid black;
          &:last-child {
          border-right: none;
        };
          a{
            color: @color_2;
            text-decoration: none;
            padding: 6px;
            &:hover{
              text-decoration: underline;
              color: @color_3; 
            };
            &.akcii{
              color: @color_1;
            }
          }
        }
      }
      .search1{
        float: left;
        margin-top: 10px;
          input{
            border: none;
            width: 45px;
          }
      }
      .cina{
        margin-top: 10px;
        float: right;
        width: 170px;
        background: #f9f9f9;
        box-shadow: 30px 10px 20px 0px #241362; 
        span{
          float: right;
        }
      }
    }
}
.bg2{
  .main{
    .left_menu{
      .drop{
        display: none;
      }
      ul{
        float: left;  
        list-style-type: none;
        li{
          border: 1px solid black;
          padding: 12px;
          margin-top: 9px;
          position: relative;
          &:hover{
             background: @color_1;
          };
          &:hover 
          .drop{
          display: block;
          position: absolute;
          width: 100%;
          left: 100%;
          top: -10px;
          li {
            border: none;
          }; 
          &:hover li{
            background: @color_1;
          };   
          }
          &.cat{
            background: @bg_color;
            text-align: center;
          };
          a{
            text-decoration: none;
            margin-left: 8px;
            text-align: center;
            color: @color_2;
          }
        }
      }
    }
  }
}